<p>Each of the parameters <span class="TKAdjustableNumber">marked like this</span> can be changed. Simply click and drag them.</p>
<p>They become <span class="var_inactivedemo">grey</span> when they are zero to signify that they are inactive. Some can be negative, too.</p>
<p>You will immediately see the effect on the model output.</p>