<footer>
		<p><small>Website by <a href="http://pfenninger.org/">Stefan Pfenninger</a>. Logo and cartoons Copyright Nikolas St&uuml;rchler. Tested in Firefox, Chrome and Safari. <a href="about.html">About this website</a>.</small></p>
</footer>

<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.pfenninger.org/" : "http://stats.pfenninger.org/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 3);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://stats.pfenninger.org/piwik.php?idsite=3" style="border:0" alt="" /></p></noscript>