<footer>
		<p><small>Built by <a href="http://pfenninger.org/">Stefan Pfenninger</a>. Logo and cartoons are &copy; Nikolas St&uuml;rchler. All other original content is <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons BY-NC-SA</a> licensed.<br>Details about the <a href="about.html">technical implementation of the website</a> (includes list of libraries used).</small></p>
</footer>