<footer>
		<p><small>By <a href="http://pfenninger.org/">Stefan Pfenninger</a>.  <a href="about.html">About this website</a>. Logo and cartoons Copyright Nikolas St&uuml;rchler. All original content <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons BY-NC-SA</a> licensed.</small></p>
</footer>