    <script src='libraries/jquery-1.7.min.js'></script>
    <script src='libraries/jqueryui.min.js'></script>
    <link rel ='stylesheet' href='libraries/jquery-ui.css'>
	<script src='libraries/bootstrap-dropdown.js'></script>
    <!-- Tangle -->
    <script src="libraries/Tangle.js"></script>
    <link rel="stylesheet" href="libraries/TangleKit/TangleKit.css">
    <script src="libraries/TangleKit/mootools.js"></script>
    <script src="libraries/TangleKit/sprintf.js"></script>
    <script src="libraries/TangleKit/BVTouchable.js"></script>
    <script src="libraries/TangleKit/TangleKit.js"></script>
    <!-- jsPlumb -->
    <script src="libraries/jquery.jsPlumb-1.3.3-all.js "></script>
    <!-- JSX -->
    <script src="libraries/jsxgraphcore.js "></script>
    <!-- MathJax -->
    <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>