pageTitle: 'About this website'
linkTitle: 'About'
---------------------------------------------META
<div class="content">
    <div class="page-header">
        <h1>About</h1>
    </div>
    <div class="row">
        <div class="span10">
			<p>The <a href="https://github.com/sjpfenninger/modelingbook-web">source code</a> for the entire website lives on Github.</p>
			<p>The following libraries and resources were used:</p>
			<ul>
				<li><a href="https://github.com/blahed/frank">Frank</a>, a static site framework in Ruby</li>
				<li><a href="http://requirejs.org/">RequireJS</a> to manage .js dependencies</li>
				<li><a href="http://jsxgraph.uni-bayreuth.de/">JSXGraph</a> for calculations and graphing</li>
			    <li><a href="http://worrydream.com/Tangle/">Tangle</a> for interactive adjustment of the parameters</li>
			    <li><a href="http://www.mathjax.org/">MathJax</a> for math rendering</li>
			    <li><a href="http://jsplumb.org/">jsPlumb</a> to render box connections</li>
			    <li><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a> and <a href="http://bootswatch.com/">Bootswatch</a> for design and layout</li>
			    <li><a href="http://thenounproject.com/">The Noun Project</a> and <a href="http://subtlepatterns.com/">Subtle Patterns</a> for artwork</li>
			</ul>
		</div>
	</div>
</div>

<%= render_partial 'default_footer' %>
