pageTitle: 404 Not Found
linkTitle: Error-404
---------------------------------------------META
<div class="content">
    <div class="page-header">
        <h1>Error 404: Page not found</h1>
    </div>
    <div class="row">
        <div class="span12">
            <p>The page you are looking for cannot be found. Try going to the <a href="index.html">homepage</a>.</p>
        </div>
    </div>
</div>
<%= render_partial 'default_footer' %>