pageTitle: 'Other Books'
linkTitle: 'Other Books'
---------------------------------------------META
<%= render_partial 'default_documentready' %>
    
<div class="content">
    <div class="page-header">
        <h1>Other recommended books <small>use what works best for you</small></h1>
    </div>
    <div class="row">
        <div class="span10">
            <div class="otherbook">
				<img src="images/books/harte.jpg">
				<div>
					<h4>Consider a Spherical Cow <small>by John Harte</small></h4>
		            <p>&ldquo;A course in environmental problem solving.&rdquo;</p><p>There is also a follow-up book, <a href="http://www.uscibooks.com/harte2.htm">Consider a Cylindrical Cow</a>, which delves deeper into several topics.</p>
		            <p><a href="http://www.uscibooks.com/harte.htm" class="btn small booklink">Book Website</a>&nbsp;<a href="http://www.amazon.com/dp/093570258X/" class="btn small booklink">Amazon</a>&nbsp;<a href="http://books.google.com/?id=w59Rc08_7NwC" class="btn small booklink">Google Books</a></p>
				</div>
			</div>
            <div class="otherbook">
				<img src="images/books/ford.jpg">
				<div>
					<h4>Modeling the Environment (2<sup>nd</sup> Edition) <small>by Andrew Ford</small></h4>
		            <p>Focuses on systems dynamics models in particular, i.e. models that operate with stocks and flows. Therefore there is some overlap with our box models. Introduces the <a href="http://www.iseesystems.com/softwares/Education/StellaSoftware.aspx">STELLA modeling software</a> (a commercial tool), so if you are looking for resources to learn STELLA, this book may be worth a try.</p>
		            <p><a href="http://public.wsu.edu/~forda/AA2nd.html" class="btn small booklink">Book Website</a>&nbsp;<a href="http://www.amazon.com/dp/1597264733/" class="btn small booklink">Amazon</a>&nbsp;<a href="http://books.google.com/?id=38PJahZTzC0C" class="btn small booklink">Google Books</a></p>
				</div>
			</div>
            <div class="otherbook">
				<img src="images/books/kammen_hassenzahl.jpg">
				<div>
					<h4>Should We Risk It? <small>by Daniel M. Kammen and David M. Hassenzahl</small></h4>
					<p>&ldquo;Exploring Environmental, Health, and Technological Problem Solving&rdquo;</p>
		            <p>Book description</p>
		            <p><a href="http://faculty.unlv.edu/dmh/ratl/SWRInews/index.htm" class="btn small booklink">Book Website</a>&nbsp;<a href="http://www.amazon.com/dp/0691074577/" class="btn small booklink">Amazon</a>&nbsp;<a href="http://books.google.com/?id=6rb8rKQeGnAC" class="btn small booklink">Google Books</a></p>
				</div>
			</div>
            <div class="otherbook">
				<img src="images/books/meadows.jpg" width="118px" style="border: 1px solid #A3A3A3;">
				<div>
					<h4>Thinking in Systems: A Primer <small>by Donella H. Meadows</small></h4>
		            <p>Book description</p>
		            <p><a href="http://www.amazon.com/dp/1603580557/" class="btn small booklink">Amazon</a>&nbsp;<a href="http://books.google.com/?id=JSgOSP1qklUC" class="btn small booklink">Google Books</a></p>
				</div>
			</div>
            <div class="otherbook">
				<img src="images/books/scheffer.jpg">
				<div>
					<h4>Critical Transitions in Nature and Society <small>by Marten Scheffer</small></h4>
		            <p>Book description</p>
		            <p><a href="http://www.amazon.com/dp/0691122040/" class="btn small booklink">Amazon</a>&nbsp;<a href="http://books.google.com/?id=jYSZgaaxRv0C" class="btn small booklink">Google Books</a></p>
				</div>
			</div>
            <div class="otherbook">
				<img src="images/books/mahajan.jpg">
				<div>
					<h4>Street-Fighting Mathematics <small>by Sanjoy Mahajan</small></h4>
		            <p>&ldquo;The Art of Educated Guessing and Opportunistic Problem Solving&rdquo;</p><p>A book dealing with pure mathematics rather than modeling applications, but with a focus on practical tricks to solve common mathematical problems encountered in day-to-day work. &ldquo;An antidote to mathematical rigor mortis, teaching how to guess answers without needing a proof or an exact calculation.&rdquo; <a href="http://mitpress.mit.edu/books/full_pdfs/Street-Fighting_Mathematics.pdf">A full PDF (Creative Commons licensed)</a> is available for download from MIT Press.</p>
		            <p><a href="http://streetfightingmath.com/" class="btn small booklink">Book Website</a>&nbsp;<a href="http://www.amazon.com/dp/026251429X/" class="btn small booklink">Amazon</a>&nbsp;<a href="http://books.google.com/?id=VrkZN0T0GaUC" class="btn small booklink">Google Books</a></p>
				</div>
			</div>
            <div class="otherbook">
				<img src="images/books/downey.jpg">
				<div>
					<h4>Think Complexity <small>by Allen B. Downey</small></h4>
		            <p>This is not as easy to follow and requires some prior experience in Python programming. However, it is very rewarding and follows an approach similar to our own, but for the more recent approach of modeling complex systems with computational models. It can be <a href="http://greenteapress.com/complexity/thinkcomplexity.pdf">downloaded as PDF (Creative Commons licensed)</a> or <a href="http://greenteapress.com/complexity/html/index.html">read directly online</a>.</p>
		            <p><a href="http://thinkcomplex.com/" class="btn small booklink">Book Website</a>&nbsp;<a href="http://www.amazon.com/dp/1449314635/" class="btn small booklink">Amazon</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
<%= render_partial 'default_footer' %>