pageTitle: 'Solutions'
linkTitle: 'Solutions'
---------------------------------------------META
<div class="content">
    <div class="page-header">
        <h1>Solutions to the problems</h1>
    </div>
    <div class="row">
        <div class="span12">
		<p>Download the solutions to the problems in the book:</p>
		<p><i class="icon-book"></i> <a href="Solutions.pdf">Solutions.pdf</a> (5.6 MB)</p>
		</div>
	</div>
</div>
<%= render_partial 'default_footer' %>
