/* Import css files from used libraries */
@import "libraries/bootstrap.less";
/*@import "libraries/jquery-ui.less";*/
@import "libraries/jsxgraph.less";
@import "libraries/TangleKit/TangleKit.css";

/* Define colors */
@bodytext: #000000;
@title1: #3b7bf2;
@title2: #072a6b;
@links: #5288AC;
@slider: #46f;
@boxbackground: #bbc7ff;
@boxborder: #8789DC;
@boxborder_soft: #727272;
@box1color: #91BFDB;
@box2color: #FC8D59;

/* Override Bootstrap defaults */
@import "less/override-defaults.less";

/* Basics across all pages */
@import "less/basics.less";

/* Individual pages */
@import "less/other-books.less";
@import "less/predprey.less";
@import "less/twobox.less";
@import "less/lake-substances.less";