@import "libraries/bootstrap.css";
@import "libraries/jquery-ui.css";
@import "libraries/TangleKit/TangleKit.css";
@import "libraries/jsxgraph.css";
html,body{background:#eeeeee url("images/noise.png") repeat scroll 0% 0%;color:#000000;}
.navbar{border-bottom:none;}
.navbar .navbar-inner{margin-left:auto;margin-right:auto;width:980px;-webkit-border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),0 -1px 0 rgba(0, 0, 0, 0.1) inset;-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),0 -1px 0 rgba(0, 0, 0, 0.1) inset;-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),0 -1px 0 rgba(0, 0, 0, 0.1) inset;}
.navbar a.brand{padding:0 5px 0 5px;margin-left:10px;}.navbar a.brand img{padding-top:2px;padding-right:10px;}
.page-header{border-bottom:1px solid #EEEEEE;margin:18px 0;}
.container>footer p{border-top:1px solid #EEEEEE;margin:0;margin-top:20px;padding:20px 0;text-align:center;}
.navbar .secondary-nav{float:right;}
#dropdown-helpbox{min-width:500px;border:1px solid #858585;padding:10px;left:-430px;}#dropdown-helpbox p{color:#000000;font-size:0.8em;line-height:22px ! important;}
#dropdown-helpbox p+p{margin-top:6px;}
#dropdown-helpbox:after{left:445px !important;}
#dropdown-helpbox:before{left:444px !important;}
.sans{font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;}
.examplespace{font-family:Georgia, Times, serif;background:url("images/t-80.png") repeat scroll 0% 0% transparent;padding:20px;margin-bottom:20px;border:1px solid #E5E5E5;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;font-size:14px;}
.workspace{border:1px solid #BED5E5;background:url("images/subtle_freckles.png") repeat scroll 0% 0% transparent;box-shadow:0 1px 2px rgba(0, 0, 0, 0.075);position:relative;}
.equationspace{padding-top:0;padding-bottom:0;}
#title1{color:#3b7bf2;font-weight:normal;}
#title2{color:#072a6b;}
.imgbox{border:1px solid #E5E5E5;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;padding:5px;background-color:#ffffff;}
.var_inactive{color:#D5D5D5;}.var_inactive .TKAdjustableNumber{color:#D5D5D5;border-bottom:1px dashed #D5D5D5;}
.var_inactivedemo{color:#878787;border-bottom:1px dashed #878787;}
.modelbox .var_inactive{color:#99A6D3;}.modelbox .var_inactive .TKAdjustableNumber{color:#99A6D3;border-bottom:1px dashed #99A6D3;}
.TKAdjustableNumber{cursor:col-resize;}
.otherbook{clear:both;}
.otherbook img,.otherbook div{margin-right:20px;max-width:600px;margin-bottom:40px;float:left;}
.booklink{border-radius:2px !important;padding:3px !important;}
a.booklink:hover{color:#0069D6 !important;}
#toggle{float:right;}
.toggle-1-on:hover,.toggle-2-off:hover{text-decoration:none;background-color:#ddd;}
.toggle-1-on{font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#000000;padding:0px 8px 0px 12px;-moz-border-radius-topleft:0.5em;-moz-border-radius-bottomleft:0.5em;-webkit-border-top-left-radius:0.5em;-webkit-border-bottom-left-radius:0.5em;border:1px solid #aaa;background-color:#ddd;display:inline;}
.toggle-2-off{font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#4466ff;padding:0px 12px 0px 8px;-moz-border-radius-topright:0.5em;-moz-border-radius-bottomright:0.5em;-webkit-border-top-right-radius:0.5em;-webkit-border-bottom-right-radius:0.5em;border:1px solid #aaa;border-left:none;background-color:#fff;display:inline;}
#modelboxcontainer{height:200px;}
#modelbox_equations{width:200px;position:absolute;right:10px;bottom:10px;}
.modelbox{position:absolute ! important;background:#bbc7ff;background-image:-moz-linear-gradient(center top, #f5f5f5, #bbc7ff);background-repeat:repeat-x;border:1px solid #8789dc;box-shadow:0 1px 0 #FFFFFF inset;padding:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;cursor:move;box-shadow:0px 2px 2px rgba(0, 0, 0, 0.075);z-index:10;}
#modelbox1{width:180px;height:120px;left:80px;top:70px;background:#deecf4;background-image:-moz-linear-gradient(center top, #f5f5f5, #deecf4);border:1px solid #91bfdb;}
#modelbox2{width:140px;height:120px;left:420px;top:70px;background:#fed2bd;background-image:-moz-linear-gradient(center top, #f5f5f5, #fed2bd);border:1px solid #fc8d59;}
.boxname{font-weight:bold;}
.connectorlabel{padding:5px;background:url("images/t-80.png") repeat scroll 0% 0% transparent;z-index:20;}
.boxinput{position:absolute;top:-38px;left:10px;padding:10px 10px 10px 20px;background:transparent url("images/arrow-down.png") no-repeat scroll 0 bottom;}
.boxoutput{position:absolute;bottom:6px;right:0;width:60px;padding:15px 5px 10px 24px;background-repeat:no-repeat;background-position:4px 0, 0 bottom;}
.boxoutput.var_positive{background-image:url("images/arrow-down.png"),url("images/bottom.png");}
.boxoutput.var_negative{background-image:url("images/arrow-up.png"),url("images/bottom.png");}
.boxoutput.var_inactive{background-image:url("images/arrow-down-t.png"),url("images/bottom-t.png");}
#lakecontainer{padding:30px 20px 20px 40px;background:#ffffff url("images/lake.png") no-repeat scroll 22px 30px;position:absolute;}
#lakegraph{width:380px;height:320px;padding:36px 60px 0 0;float:left;}
#laketext{padding:30px 0 0 36px;width:400px;float:left;}
.lake_z0{position:absolute;top:65px;left:10px;}
.lake_zg{position:absolute;top:350px;left:10px;}
.lake_label{position:absolute;top:194px;left:60px;}
.lake_point{position:absolute;top:45px;left:390px;}
